In [1]:
import pandas as pd

# Set the path to your processed data directory
processed_dir = 'Data/Processed'

# Load the full processed dataset
final_model_data = pd.read_csv(f'{processed_dir}/final_model_data.csv', index_col=0, parse_dates=True)

# Load train/test splits
X_train = pd.read_csv(f'{processed_dir}/X_train.csv', index_col=0, parse_dates=True)
X_test = pd.read_csv(f'{processed_dir}/X_test.csv', index_col=0, parse_dates=True)
y_train = pd.read_csv(f'{processed_dir}/y_train.csv', index_col=0, parse_dates=True)
y_test = pd.read_csv(f'{processed_dir}/y_test.csv', index_col=0, parse_dates=True)

# Display to verify
print("Final model data:")
display(final_model_data.head())
print("X_train:")
display(X_train.head())

Final model data:

,Sales,sales_lag_1,sales_lag_7,sales_lag_14,sales_rolling_mean_7,sales_rolling_std_7,sales_rolling_mean_14,sales_rolling_std_14,sales_rolling_mean_30,sales_rolling_std_30
Order Date,,,,,,,,,,
2014-02-02,0.00,0.00,217.2,181.470,120.123714,153.592326,172.179571,363.599241,309.357000,647.336042
2014-02-03,0.00,0.00,333.0,1362.930,89.095143,152.648896,159.217429,366.465924,246.223833,575.874892
2014-02-04,177.68,0.00,0.0,25.248,41.523714,109.861422,61.865286,120.768894,246.223833,575.874892
2014-02-05,0.00,177.68,0.0,0.000,66.906571,118.828645,72.753286,124.040681,252.146500,574.166399
2014-02-06,73.32,0.00,0.0,0.000,66.906571,118.828645,72.753286,124.040681,217.494500,556.091024

X_train:

,sales_lag_1,sales_lag_7,sales_lag_14,sales_rolling_mean_7,sales_rolling_std_7,sales_rolling_mean_14,sales_rolling_std_14,sales_rolling_mean_30,sales_rolling_std_30
Order Date,,,,,,,,,
2014-02-02,0.00,217.2,181.470,120.123714,153.592326,172.179571,363.599241,309.357000,647.336042
2014-02-03,0.00,333.0,1362.930,89.095143,152.648896,159.217429,366.465924,246.223833,575.874892
2014-02-04,0.00,0.0,25.248,41.523714,109.861422,61.865286,120.768894,246.223833,575.874892
2014-02-05,177.68,0.0,0.000,66.906571,118.828645,72.753286,124.040681,252.146500,574.166399
2014-02-06,0.00,0.0,0.000,66.906571,118.828645,72.753286,124.040681,217.494500,556.091024